# Scipy-Stats Juptyer Notebook
*****
*****

## A clear and concise overview of scipy stats

### Types of ANOVA
<br>
One Way Anova
<br>
When it is used?
<br>
When to used ANCOVA

### About the Dataset

The Diet Dataset contains information on 76 participants who undertook one of 3 diets (A, B, C). The dataset contains information on their gender, diest, initial weight and their weight after six weeks. https://bioinformatics-core-shared-training.github.io/linear-models-r/anova.html https://bioinformatics-core-shared-training.github.io/linear-models-r/anova.html

### Importing Packages for this notebook

In [2]:
import pandas as pd
import seaborn as sns
import scipy.stats as ss

## An example hypthesis test using ANOVA

**Assumption 1: Your independent variable should be measured at the interval or ratio level**
<br>
The key variable that you are looking at is a numerical variable and the values take on any given number within a range.

**Assumption 2: Your independent variable should consist of two or more categorial independent groups** 
<br>
The categorical groups shouldn't overlap, being part of one group shouldn't affect the chance of being part of another group e.g blonde hair and blue eyes cannot be in the same categorial group as you can have both.

**Assumption 3: You should have independence of observation**
<br>
There is no relationship between observations in each group or between the groups themselves. Each time there is a new datapoint in a group it is independent of all other datapoints in that group.

**Assumption 4: There should be no significant outliers**
<br>
It can be difficult to define outlier in the context of the data set

**Assumption 5: Your dependent variable should be approximately normally distributed for each category of the independent**
<br>
When measured, the data points should take the form of a bell shaped curve.

**Assumption 16: Thre needs to be a homogeneity of variances**
<br>
When examined, the normal distribution takes on similiar bell shaped curves. This assumption can be tested using a Levene's test for homogeneity of variances

## Example: Diet dataset

#### Assumption 1: Dependent Variable
***

In [4]:
df = pd.read_csv('Diet.csv')
df

   gender Diet  weight  weight6weeks
0       M    B      60          60.0
1       M    B     103         103.0
2       F    A      58          54.2
3       F    A      60          54.0
4       F    A      64          63.3
..    ...  ...     ...           ...
73      M    C      83          80.2
74      M    C      84          79.9
75      M    C      85          79.7
76      M    C      87          77.8
77      M    C      88          81.9

[78 rows x 4 columns]