# Scipy-Stats Juptyer Notebook
*****
*****

The Scipy-stats module is a sub-package of the SciPy library providing many uses for statistical analysis including probabilistic distributions, random variables and statistical operations. https://data-flair.training/blogs/scipy-statistical-functions/ It is used to analyse normal distributions and calculate different distribution values with a number of in built methods available.https://www.delftstack.com/api/scipy/scipy-scipy.stats.norm-method/. 
<br>
Within the library, there are functions for both continious and discrete functions, works with different types of distributions and performs hypothesis and t-tests.https://data-flair.training/blogs/scipy-statistical-functions/?ref=morioh.com&utm_source=morioh.com. The library works seamlessly with other packages to enable statistics calculations, descriptive analysis and data visualisation. These include:
- pandas
<br>
- matplotlib
<br>
- seaborn
<br>
- numpy
<br>

**Some of the Key Terms in Statistical Analysis** https://realpython.com/python-statistics/
<br>
<br>
**Types of Variables**
<br>
- **Dependent Variable** The chosen data category that is examined to see if there is any affect from the independent variables
<br>
 - **Indepedent Variable:** These are the chosen datapoints measured that may have an effect on the dependent variable
<br>
**Measures of of Central Tendency**
<br>
- **Mean**: *"is the average of all the items in the dataset and can be expressed as:* $$mean = sum of the terms/number of terms$$ 
<br>
- **Median** *"is the middle element of a sorted dataset and can be expressed as* 
<br>
**Measures of Variability**
<br>
 - **Variance** 
<br>
*quantifies the spread of the data and show how far the data points are from the mean* $$ùë†¬≤ = Œ£·µ¢(ùë•·µ¢ ‚àí mean(ùë•))¬≤ / (ùëõ ‚àí 1), where ùëñ = 1, 2, ‚Ä¶, ùëõ$$
<br>
- **Standard Deviation** 
<br>
*is another measure of data spread.... as standard deviation, 's' is the positive square root of the sample variance* $$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$$
<br>
- **Percentiles** 
<br>
*is the element in the dataset such that p% of the elements in the dataset are less than or equal to that value.... Each dataset has three quartiles (first quartile is the sample 25th percentile, second quartile is the sample 50th percentile (median) and the third quartile is the sample 75th percentile* $$ùë†¬≤ = Œ£·µ¢(ùë•·µ¢ ‚àí mean(ùë•))¬≤ / (ùëõ ‚àí 1), where ùëñ = 1, 2, ‚Ä¶, ùëõ$$

### Analysis of Variance (ANOVA)
<br>
Analysis of Variance is a *" statistical formula used to compare variances across the means of different groups... where a range of scenarios use it to determine if there is any difference between the meands of different group* https://www.tibco.com/reference-center/what-is-analysis-of-variance-anova. ANOVA due to its procedures helps select the best features when training a dataset, reduces complexity by limiting input variables and can determin if an independent variable is influencing a target variable. 
<br>
<br>
The outcome of the ANOVA is the 'F Statistic' which enables the researcher to conclude where or not the null hypothesis was supported or not. This is acheived through calculating the difference between the group variance and within group variance. ANOVA is important is ascertaining whether or not a mean values are statistically significant. ANOVA can also indirectly show if an independent variable is influencing the dependent variable.
<br>
<br>

**Limitations of ANOVA**
<br>
- The test can only if there is significant difference between the means of at least two group but can't identify which pairs differ in its means. This requires ANOVA to be used in tandem with other statistical methods
- Assumes uniform distribution limiting its ability to work with data that does not have a normal distribution and/or may contain outliers
- Assumes Standard Deviation is similiar across the variable to avoid inaccurate conclusions being made
<br>
**Hypothesis Testing**
<br>
- **A Null Hypothesis(HO)** It is inferred there is no difference between the groups or means
<br>
- **An Alternative Hypothesis** It is inferred that there is a difference between groups and means
<br>
**Types of ANOVA**
<br>
 - One Way ANOVA: The one-way ANOVA is suitable with only one independent variable with two or more levels.
 - Two Way ANOVA: When there are two or more inpdependent variables that may have multple levels and includes every possible selection of variables and their levels.
 <br>

### About the Dataset

The Diet Dataset contains information on 76 participants who undertook one of 3 diets (A, B, C). The dataset contains information on their gender, diest, initial weight and their weight after six weeks. https://bioinformatics-core-shared-training.github.io/linear-models-r/anova.html https://bioinformatics-core-shared-training.github.io/linear-models-r/anova.html

### Importing Packages for this notebook

In [47]:
import pandas as pd
import seaborn as sns
import scipy.stats as ss
import statsmodels.api as sn
import numpy as np
import collections as co
import scipy.special as spec
import matplotlib.pyplot as plt

## About the Dataset

The Diet Dataset contains information on 76 participants who undertook one of 3 diets (A, B, C). At the beginning and end of the trail, the participants weights were taken. The dataset contains information on their gender, allocated diet, height initial weight and their weight after six weeks. https://bioinformatics-core-shared-training.github.io/linear-models-r/anova.html https://bioinformatics-core-shared-training.github.io/linear-models-r/anova.html. This analysis will explore whether or not there is any correlation between the height of the participants and the weight lost, we can further explore which of the diest was most effective in assisting to lose weight and if the gender of the participants makes an impact on the outcome of the diet.

### Exploring the Dataset
***

### Preprocessing the Dataset
***

In [48]:
df = pd.read_csv('dietdataset.csv') #first look at the dataset
df

    Person gender  Age  Height  pre.weight  Diet  weight6weeks
0       25          41     171          60     2          60.0
1       26          32     174         103     2         103.0
2        1      0   22     159          58     1          54.2
3        2      0   46     192          60     1          54.0
4        3      0   55     170          64     1          63.3
..     ...    ...  ...     ...         ...   ...           ...
73      74      1   35     183          83     3          80.2
74      75      1   49     177          84     3          79.9
75      76      1   28     164          85     3          79.7
76      77      1   40     167          87     3          77.8
77      78      1   51     175          88     3          81.9

[78 rows x 7 columns]

In [49]:
df = pd.read_csv('dietdataset.csv', na_values=' ') # replacing empty cells with Nan
df

    Person  gender  Age  Height  pre.weight  Diet  weight6weeks
0       25     NaN   41     171          60     2          60.0
1       26     NaN   32     174         103     2         103.0
2        1     0.0   22     159          58     1          54.2
3        2     0.0   46     192          60     1          54.0
4        3     0.0   55     170          64     1          63.3
..     ...     ...  ...     ...         ...   ...           ...
73      74     1.0   35     183          83     3          80.2
74      75     1.0   49     177          84     3          79.9
75      76     1.0   28     164          85     3          79.7
76      77     1.0   40     167          87     3          77.8
77      78     1.0   51     175          88     3          81.9

[78 rows x 7 columns]

In [50]:
df.rename(columns={'pre.weight': 'initialWeight'}, inplace=True) #changing the name of the pre.weight column to avoid confusion
df

    Person  gender  Age  Height  initialWeight  Diet  weight6weeks
0       25     NaN   41     171             60     2          60.0
1       26     NaN   32     174            103     2         103.0
2        1     0.0   22     159             58     1          54.2
3        2     0.0   46     192             60     1          54.0
4        3     0.0   55     170             64     1          63.3
..     ...     ...  ...     ...            ...   ...           ...
73      74     1.0   35     183             83     3          80.2
74      75     1.0   49     177             84     3          79.9
75      76     1.0   28     164             85     3          79.7
76      77     1.0   40     167             87     3          77.8
77      78     1.0   51     175             88     3          81.9

[78 rows x 7 columns]

In [51]:
df['Diet'] = df['Diet'].replace([1,2,3], ['Diet A', 'Diet B', 'Diet C'])
df

    Person  gender  Age  Height  initialWeight    Diet  weight6weeks
0       25     NaN   41     171             60  Diet B          60.0
1       26     NaN   32     174            103  Diet B         103.0
2        1     0.0   22     159             58  Diet A          54.2
3        2     0.0   46     192             60  Diet A          54.0
4        3     0.0   55     170             64  Diet A          63.3
..     ...     ...  ...     ...            ...     ...           ...
73      74     1.0   35     183             83  Diet C          80.2
74      75     1.0   49     177             84  Diet C          79.9
75      76     1.0   28     164             85  Diet C          79.7
76      77     1.0   40     167             87  Diet C          77.8
77      78     1.0   51     175             88  Diet C          81.9

[78 rows x 7 columns]

In [52]:
df['weightloss'] = (df['initialWeight'] - df['weight6weeks']) #creating my dependent variable
df

,Person,gender,Age,Height,initialWeight,Diet,weight6weeks,weightloss
0,25,NaN,41,171,60,Diet B,60.0,0.0
1,26,NaN,32,174,103,Diet B,103.0,0.0
2,1,0.0,22,159,58,Diet A,54.2,3.8
3,2,0.0,46,192,60,Diet A,54.0,6.0
4,3,0.0,55,170,64,Diet A,63.3,0.7
...,...,...,...,...,...,...,...,...
73,74,1.0,35,183,83,Diet C,80.2,2.8
74,75,1.0,49,177,84,Diet C,79.9,4.1
75,76,1.0,28,164,85,Diet C,79.7,5.3
76,77,1.0,40,167,87,Diet C,77.8,9.2
77,78,1.0,51,175,88,Diet C,81.9,6.1

In [53]:
df.isna().sum() # looking into the Nan values

Person           0
gender           2
Age              0
Height           0
initialWeight    0
Diet             0
weight6weeks     0
weightloss       0
dtype: int64

There are two instances where the gender is Nan. It appears that they participants did not fully participate in the trial. Due to the small number of datapoints, these data will be dropped.

In [54]:
df.dropna(axis=0, how='all', subset=['gender'], inplace=True)
df

,Person,gender,Age,Height,initialWeight,Diet,weight6weeks,weightloss
2,1,0.0,22,159,58,Diet A,54.2,3.8
3,2,0.0,46,192,60,Diet A,54.0,6.0
4,3,0.0,55,170,64,Diet A,63.3,0.7
5,4,0.0,33,171,64,Diet A,61.1,2.9
6,5,0.0,50,170,65,Diet A,62.2,2.8
...,...,...,...,...,...,...,...,...
73,74,1.0,35,183,83,Diet C,80.2,2.8
74,75,1.0,49,177,84,Diet C,79.9,4.1
75,76,1.0,28,164,85,Diet C,79.7,5.3
76,77,1.0,40,167,87,Diet C,77.8,9.2
77,78,1.0,51,175,88,Diet C,81.9,6.1

## Hypothesis Testing

The following are the hypothesis drawn from the initial exploratory data analysis:
<br>

#### Hypothesis 1

<br>

**A Null Hypothesis(HO)** The means of all diets are equal with respect to weighloss

<br>

**An Alternative Hypothesis** The mean of at least one diet is different with respect to weightloss

<br>

#### Hypothesis 2

<br>

**A Null Hypothesis(HO)** The means of all genders are equal with respect to weightloss

<br>

**An Alternative Hypothesis** The mean of the genders are different with respect to weightloss

<br>

## Assumptions within the dataset
***
<br>
Limitations of Assumptions
https://www.statology.org/one-way-anova-r/

| Assumption | Explaination |
| :- | :- |
**Your dependent variable should be measured at the interval or ratio level** | Dependent variables must be of 'metric measurements'https://www.statisticssolutions.com/free-resources/directory-of-statistical-analyses/assumptions-of-the-factorial-anova/is and the values take on any given number within a range https://www.javatpoint.com/anova-test-in-python https://www.statisticssolutions.com/free-resources/directory-of-statistical-analyses/assumptions-of-the-factorial-anova/ |
|**Your independent variable should consist of two or more categorical independent groups** | The categorical groups shouldn't overlap, being part of one group shouldn't affect the chance of being part of another group.|
|**You should have independence of observation** | There is no relationship between observations in each group or between the groups themselves. Each time there is a new datapoint in a group it is independent of all other datapoints in that group.|
|**There should be no significant outliers** | It can be difficult to define outlier in the context of the data set.|
|**Your dependent variable should be approximately normally distributed for each category of the independent**| When measured, the data points should take the form of a bell shaped curve.| https://www.statology.org/anova-assumptions/
|**There needs to be a homogeneity of variances**| This assumption can be tested using a Levene's test for homogeneity of variances.|https://www.statology.org/anova-assumptions/

### Assumption 1: Dependent Variable
***

The chosen dependent variable in this instance is the metric weighloss which is measured in kgs.

In [55]:
#The dependent variable
dependent = df['weightloss']
dependent

2     3.8
3     6.0
4     0.7
5     2.9
6     2.8
     ...
73    2.8
74    4.1
75    5.3
76    9.2
77    6.1
Name: weightloss, Length: 76, dtype: float64

### Assumption 2: Independent Variable
***

As we are going to look at two independent variables in this notebook, the author has chosen the following:
<br>
**Diet** - categories are: Diet A, Diet B and Diet C
<br>
**Gender** - catogories are: 0(which = Female) and 1 (which = Male)

In [56]:
#first independent variable
independent = df['Diet']
independent

2     Diet A
3     Diet A
4     Diet A
5     Diet A
6     Diet A
       ...
73    Diet C
74    Diet C
75    Diet C
76    Diet C
77    Diet C
Name: Diet, Length: 76, dtype: object

### Assumption 3: Independence of Observation
***

This is a study design issues rather than something that you can test for. For this to be reached the "obersevations in each group are independent of each other and the observations within groups were obtained by a random sample". https://www.statology.org/anova-assumptions/. There is no standardised test to ensure independence of observation, nonetheless if this assumption is violated, the results obtained from the same could be wrong. Strong, robust and ethical data collection is required. https://www.statisticshowto.com/assumption-of-independence/

**Assumption 1: Your independent variable should be measured at the interval or ratio level**
<br>
The key variable that you are looking at is a numerical variable and the values take on any given number within a range.

**Assumption 2: Your independent variable should consist of two or more categorial independent groups** 
<br>
The categorical groups shouldn't overlap, being part of one group shouldn't affect the chance of being part of another group e.g blonde hair and blue eyes cannot be in the same categorial group as you can have both.

**Assumption 3: You should have independence of observation**
<br>
There is no relationship between observations in each group or between the groups themselves. Each time there is a new datapoint in a group it is independent of all other datapoints in that group.

**Assumption 4: There should be no significant outliers**
<br>
It can be difficult to define outlier in the context of the data set

**Assumption 5: Your dependent variable should be approximately normally distributed for each category of the independent**
<br>
When measured, the data points should take the form of a bell shaped curve.

**Assumption 16: Thre needs to be a homogeneity of variances**
<br>
When examined, the normal distribution takes on similiar bell shaped curves. This assumption can be tested using a Levene's test for homogeneity of variances

## Example: Diet dataset

#### Assumption 1: Dependent Variable
***

In [ ]:
df = pd.read_csv('Diet.csv')
df